.flexCenter {
  display: flex;
  justify-content: center;
}
@keyframes headcolor {
  from {
    text-shadow: inherit;
  }
  to {
    text-shadow: 2px 2px #BA906D;
  }
}
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Open Sans Condensed', sans-serif;
  color: black;
}
@media (max-width: 500px) {
  html,
  body {
    margin-right: 5px;
    margin-left: 5px;
  }
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Amatic SC', cursive;
  color: black;
}
h1 {
  font-size: 12rem;
  padding-bottom: 2rem;
  padding-top: 3rem;
  font-weight: bold;
}
@media (max-width: 500px) {
  h1 {
    font-size: 7rem;
  }
}
@media (max-width: 800px) {
  h1 {
    font-size: 12rem;
    text-align: center;
  }
}
h2 {
  font-size: 4.5rem;
}
@media (max-width: 800px) {
  h2 {
    font-size: 8rem;
  }
}
@media (max-width: 500px) {
  h2 {
    width: 75%;
    text-align: center;
  }
}
h3 {
  font-size: 3.5rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
@media (max-width: 800px) {
  p {
    width: 85%;
    margin: 20px auto;
  }
}
.overlay {
  height: 0%;
  width: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.9);
  overflow-y: hidden;
  transition: 0.5s;
}
.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.overlay a {
  padding: 0;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: flex;
  flex-direction: row;
  transition: 0.3s;
}
span {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
}
.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}
.overlay .closebtn {
  position: absolute;
  top: 2px;
  right: 45px;
  font-size: 60px;
}
@media (max-width: 500px) {
  .overlay {
    overflow-y: auto;
  }
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
.navbtn {
  margin-top: 40px;
}
footer {
  display: flex;
  justify-content: center;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  color: black;
}
a {
  font-size: 2rem;
  padding-right: 2rem;
  text-decoration: none;
  color: #7B3D4C;
}
@media (max-width: 500px) {
  a {
    padding: 5px;
    margin-right: 40px;
    font-size: 3rem;
  }
}
@media (max-width: 800px) {
  a {
    margin-left: 20px;
    padding: 5px;
    font-size: 2.5rem;
  }
}
.navBox {
  display: flex;
  justify-content: center;
  padding-right: 8rem;
  margin-top: 18px;
}
@media (max-width: 500px) {
  .navBox {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 800px) {
  .navBox {
    margin-top: 6rem;
  }
}
h1,
p,
.midPageTxt {
  display: flex;
  justify-content: center;
}
.h1Mission {
  border-bottom: 1.5px solid #7B3D4C;
  padding-bottom: 3rem;
  margin-bottom: 1rem;
}
.midPageTxt {
  border-top: 1.5px solid #7B3D4C;
  padding-top: 3rem;
  margin-bottom: 2rem;
}
.artsBox {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
@media (max-width: 500px) {
  .artsBox {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
}
@media (max-width: 800px) {
  .artsBox {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }
}
.photoPbox {
  width: 35rem;
  height: auto;
}
@media (max-width: 800px) {
  .photoPbox {
    width: 75%;
  }
}
@media (max-width: 500px) {
  .photoPbox img {
    margin: 10px auto;
  }
}
img {
  width: 100%;
  border-radius: 23px;
}
h3 {
  width: 103%;
  margin: 10px;
  text-align: center;
}
@media (max-width: 500px) {
  h3 {
    margin-top: 8px;
    margin-bottom: 8px;
  }
}
@media (max-width: 800px) {
  h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 6rem;
    width: 100%;
  }
}
@media (max-width: 500px) {
  h3 {
    margin-top: 8px;
    margin-bottom: 8px;
  }
}
@media (max-width: 800px) {
  h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 6rem;
  }
}
.btn-center {
  display: flex;
  justify-content: center;
}
button {
  border-radius: 1rem;
  font-size: 2rem;
  width: 50%;
  background-color: #919A87;
  color: white;
  height: 6rem;
  margin-bottom: 3rem;
  margin-top: 3rem;
}
.btn-center a {
  color: white;
  text-decoration: none;
  margin: 0px;
}
.fullImgTxt {
  position: relative;
  text-align: center;
  color: white;
  border-top: 1.5px solid #7B3D4C;
  padding-top: 3rem;
  margin-bottom: 2rem;
}
@media (max-width: 500px) {
  .fullImgTxt {
    height: 260px;
  }
}
.imgText {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 500px) {
  .imgText {
    width: 100%;
  }
}
@media (max-width: 800px) {
  .imgText {
    height: 100px;
    width: 80%;
  }
}
.imgText h2 {
  color: #F0EADF;
  text-shadow: 2px 2px #000000;
  text-shadow: 3px 2px #000000;
  font-size: 11.5rem;
}
@media (max-width: 500px) {
  .imgText h2 {
    font-size: 6rem;
    width: 100%;
  }
}
