* {
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
  }

  body {
    background: #f0f0f0;
}

h1, h2, h3, h4, h5, h6 {
    .font-style(@gray, 2rem, uppercase, 0);
    font-family: @merri;
    text-decoration: none;
}

h2 {
    font-size: 1.65em;
    font-weight: 400;
    letter-spacing: 4px;
    margin: 0, 0, 1.5em, 0;
    line-height: 1.75em;
}

h3 {
    font-size: 1em;
    letter-spacing: 2px;
    margin: 0, 0, 1.25em, 0;
}

p {
    text-align: justify;
    margin-bottom: 2em;
}

.page-container {
    display: flex;
    flex-direction: column;
    max-width: 1060px;
    width: 100%;
    margin: 0 auto;
  }