* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body,
html {
  font-family: 'Open Sans Condensed', sans-serif;
  color: black;
  @media @phone {
    margin-right: 5px;
    margin-left: 5px;
  }
}

h1,
h2,
h3,
h4,
h5,
.navbtn {
  font-family: 'Amatic SC', cursive;
  color: black;
}

h1 {
  font-size: 12rem;
  padding-bottom: 2rem;
  padding-top: 3rem;
  font-weight: bold;
  @media @phone {
    font-size: 7rem;
  }
  @media @tablet {
    font-size: 12rem;
    text-align: center;
  }
}

h2 {
  font-size: 4.5rem;
  @media @tablet {
    font-size: 8rem;
  }
  @media @phone {
    width: 75%;
    text-align: center;
  }
}

h3 {
  font-size: 3.5rem;
}

p {
  font-size: 1.6rem;
  line-height: 1.4;
  @media @tablet {
    width: 85%;
    margin: 20px auto;
  }
}
