nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px;
    font-size: 2rem;
}

a {
    text-decoration: none;
    padding: 20px;
    color: @gray;
}

.head-text {
    text-align: center;
}

.head-text h1 {
    font-size: 4rem;
}

.head-text p {
    text-align: center;
    font-size: 1.5rem;
    text-decoration: italic;
}

.h2head {
    font-weight: 500px;
    text-align: center;
}


.blurbs {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 10px;
}

img {
    height: 60%;
    width: 85%;
}

.left-content {
    padding: 20px;
}

.middle-content {
    padding: 20px;
}

.right-content {
    padding: 20px;
}